@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Comfortaa', cursive;
}
h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
p,
span {
  font-family: 'Open Sans', sans-serif;
}
a {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
li {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 40px;
}
hr {
  width: 100%;
  height: 1px;
  border: none;
  background: rgb(196, 196, 196);
}
body {
  margin: 0;
  padding: 0;
}
.wrap_container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 8px;
}
img {
  width: 100%;
}
header {
  margin-top: 16px;
}
.navigation {
  position: relative;
  top: 16px;
}
.navigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.navigation a {
  color: #333333;
  margin: 0 24px;
  font-size: 14px;
  font-weight: 700;
}
.navigation a:hover {
  color: #292929;
  border-bottom: 1px solid #333333;
}
@media (max-width: 768px) {
  .navigation a {
    padding: 0 12px;
  }
}
.top_header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .top_header {
    flex-direction: column;
    align-items: center;
  }
}
.contacts a {
  color: rgb(17, 17, 17);
}
.phone a {
  font-size: 24px;
  font-weight: bold;
}
.main_header{
  position: relative;
}
/* .main_header {
  background-image: url(../img/mainn_img.png);
  background-size: cover;
  background-position: center center;
  height: 650px;
} */
/* VIDEO */
.probuct {
  padding-top: 258px;
}
.video {
  top: 75%;
  width: 100%;
  height: 750px;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: -2;
  position: absolute;
  object-fit: cover;
}
.effects {
  top: 75%;
  width: 100%;
  height: 750px;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.623);
}
.header_title {
  padding-top: 145px;
  margin-bottom: 32px;
  text-align: center;
}
.header_title h1 {
  color: #fff;
  font-size: 64px;
}
.header_title h4 {
  color: #fff;
}
.header_title ul  {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  padding-top: 64px;
}
.title_section {
  text-align: center;
  margin-bottom: 64px;
  margin-top: 96px;
}
.content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}
.text_slide {
  margin-top: 64px;
}
@media (max-width: 768px) {
  .text_slide {
    margin-top: 0;
  }
}
ul {
  padding: 0;
  margin-left: 16px;
}
.imges_slide {
  margin-bottom: 32px;
}
.swiper-button-next,
.swiper-button-prev {
  color: black;
}
.descript_slider {
  margin-bottom: 32px;
}
.button {
  border: none;
  color: rgb(68, 68, 68);
  background-color: #fff;
  border: 1px solid #333333;
  padding: 16px 16px;
  transition: 0.5s all;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
.button:hover {
  background-color: rgb(48, 48, 48);
  color: #f2f2f2;
}
@media (max-width: 768px) {
  .button {
    margin-bottom: 32px;
  }
}
.bottom a {
  background-color: rgb(48, 48, 48);
  padding: 16px 16px;
  transition: 0.5s all;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  
  text-align: center;
  max-width: 276px;
}
.bottom a:hover {
  background-color: rgb(17, 17, 17);
  color: #fff;
}
.nav_tabs {
  background: #f2f2f2;
  margin-top: 96px;
}
.tab-content {
  margin-bottom: 64px;
}
.tab_content_color {
  display: flex;
  margin-top: 64px;
}
.tab_color_contetnt {
  flex: 1 0;
  padding: 16px;
}
@media (max-width: 768px) {
  .tab_content_color {
    flex-direction: column;
    align-items: center;
  }
}
.tab_color_contetnt img {
  width: 100%;
}
.tab_text {
  margin-top: 16px;
  margin-left: 32px;
}
.tab_text h3 {
  font-size: 26px;
}
.nav {
  justify-content: center;
}
@media (max-width: 768px) {
  .nav {
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: start;
  }
}
.nav-link {
  color: #000000;
}
.nav-link:focus,
.nav-link:hover {
  color: #353535;
}
#nav-tab {
  height: 50px;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #333333;
  color: #fff;
}
.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.tab_color_formula p {
  line-height: 32px;
}
.tab_color_decsription {
  margin-top: 32px;
  max-width: 450px;
  margin-bottom: 32px;
}
.tab_color_decsription p {
  line-height: 32px;
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
.nav-tabs .nav-link {
  border: none;
}
.about_product {
  display: flex;
  flex-wrap: wrap;
}
.items {
  display: flex;
  max-width: 370px;
  margin: 0 auto;
  flex-direction: column;
  padding: 16px;
  align-items: center;

  text-align: center;
}
.items img {
  width: 37%;
}
.descrict_item {
  margin-top: 16px;
}
.wath {
  background-image: url(../img/bg_wath.png);
  background-size: cover;
  background-position: center center;
  padding: 8px 0 0 0;
}
.bg_sect {
  background-image: url(../img/bg_lids_2.png);
  background-size: cover;
}
.bg_sect_content_descript {
  text-align: center;
  padding: 76px 0;
}
.bg_sect_content_descript h2 {
  font-weight: 600;
  line-height: 56px;
}
.bg_lids {
  background-image: url(../img/bg_lids_1.png);
  background-size: cover;
  background-position: center center;
}
.lid_wrap {
  display: flex;
}
@media (max-width: 768px) {
  .lid_wrap {
    flex-direction: column;
    align-items: center;
  }
}
.lid_content {
  flex: 50%;
}
.lid_content img {
  width: 77%;
}
.lid_content_descript {
  margin-top: 96px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .lid_content_descript {
    margin-top: 32px;
  }
}
.lid_content_descript h2 {
  font-weight: 700;
  line-height: 58px;
}
@media (max-width: 768px) {
  .lid_content_descript h2 {
    line-height: 48px;
  }
}
.modal-content {
  border: none;
  border-radius: 0px;
}
.our {
  margin-bottom: 64px;
}
.our_content {
  display: flex;
}
@media (max-width: 768px) {
  .our_content {
    flex-direction: column;
  }
}
.our_content_item_left {
  margin-top: 32px;
  max-width: 320px;
  margin-right: 32px;
  text-align: right;
}
@media (max-width: 768px) {
  .our_content_item_left {
    max-width: none;
  }
}
.our_content_item_left img {
  width: 46px;
  margin-bottom: 16px;
}
.our_content_item_right {
  margin-top: 32px;
  text-align: left;
  max-width: 320px;
  margin-left: 32px;
}
@media (max-width: 768px) {
  .our_content_item_right {
    max-width: none;
  }
}
.our_content_item_right img {
  width: 46px;
  margin-bottom: 16px;
}
.our_content_item_left h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.our_content_item_right h5 {
  font-weight: 600;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.sect_from {
  margin-top: 96px;
}
.start_begin {
  display: flex;
}
@media (max-width: 768px) {
  .start_begin {
    flex-direction: column;
  }
}
.form_start_begin {
  flex: 50%;
  margin-right: 32px;
}
.form-control {
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #c1c1c1;
  font-size: 16px;
  margin-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
}
.form-control:focus {
  border-color: rgb(0, 0, 0);
  box-shadow: none;
}
.form-select:focus {
  border-color: rgb(0, 0, 0);
  box-shadow: none;
}
.sect_from_title {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .content_start_begin {
    display: none;
  }
}
.form-control::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.form-control::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.form-control:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.form-control:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.form-control:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form-control:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form-control:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form-control:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.sect_studio {
  margin-top: 96px;
  margin-bottom: 96px;
}
.studio {
  display: flex;
}
@media (max-width: 768px) {
  .studio {
    flex-direction: column;
  }
}
.studio_contenet_items {
  margin-top: 48px;
}
.studio_content {
  margin-left: 32px;
}
.items_studo_content {
  display: flex;
  margin-top: 16px;
}
.items_studo_content img {
  width: 40px;
  height: 40px;
}
.items_studo_content_descript {
  margin-left: 16px;
}
.items_studo_content_descript p {
  font-size: 18px;
}
.maps {
  position: relative;
}
.script_bg {
  position: absolute;
  content: '';
  width: 42%;
  height: 660px;
  background-color: #fff;
  z-index: 100;
  opacity: 0.85;
  right: 0;
  top: 0;
}
@media (max-width: 868px) {
  .script_bg {
    display: none;
  }
}
.script_bg_contact {
  margin-left: 32px;
  margin-top: 64px;
}
.script_bg_contact a {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}
.script_bg_contact_phone {
  margin-bottom: 16px;
}
.script_bg_contact_date p {
  line-height: 28px;
}
.script_bg_contact_phone {
  margin-top: 32px;
}
.script_bg_contact_icon img {
  width: 32px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.script_bg_contact_links {
  margin-top: 8px;
}
.bootom_header {
  text-align: center;
}
.bootom_header a {
  background-color: #fff;
  color: #000000;
}
.script_bg_mobile {
  display: none;
}
@media (max-width: 868px) {
  .script_bg_mobile {
    display: block;
  }
}
